
<div class="header">
    <div routerLinkActive="active">
      <a [routerLink]="['']">Home</a>
    </div>
    <div routerLinkActive="active">
      <a [routerLink]="['users_page']">Users</a>
    </div>
    <div routerLinkActive="active">
      <a [routerLink]="['posts_page']">Posts</a>
    </div>
    <div routerLinkActive="active">
      <a [routerLink]="['comments_page']">Comments</a>
    </div>
    <div routerLinkActive="active">
      <a [routerLink]="['todos_page']">Affairs</a>
    </div>
</div>

<router-outlet></router-outlet>
